
<section class="flex sm:top-0 absolute justify-center text-white bg-slate-500 w-full text-[17px] pt-2 pb-2 sm:block sm:items-center sm:text-2xl opacity-0 md:opacity-100 top-[-400px] transition-all ease-in duration-500 z-[-1]">
    
    <div class="">
        <ul class="flex flex-col text-center gap-8 sm:flex-row sm:justify-center ">
            <li><a href="#">About me</a></li>
            <li><a href="#">My skills</a></li>
            <li><a href="#">My projects</a></li>
            <li><a href="#">Contact me</a></li>
        </ul>
    </div>
</section>