<section class="flex justify-between text-white">
    <div class="logo">JHOAN</div>
    <div>
        <ul class="flex gap-8">
            <li><a href="#">About me</a></li>
            <li><a href="#">My skills</a></li>
            <li><a href="#">My projects</a></li>
            <li><a href="#">Contact me</a></li>
        </ul>
    </div>
</section>