<section class="hero flex flex-col p-0 text-white h-[70vh] w-screen justify-around items-center text-center m-0 md:flex-row ">
    <div class="flex flex-col items-center w-full pt-[2rem] md:pt-[6rem] md:self-left md:text-left md:w-fit">
        <h1 class="text-6xl xl:text-[8rem]">Jhoan<br> Landazabal</h1>
        <p class="text-4xl mt-4 xl:text-[4rem] self-left">A young developer</p>
    </div>

    <div class="flex align-center items-center place-content-center w-[350px] self-center rounded-full">
        <img class="rounded-3xl h-[320px] w-[270px] mt-8 md:mt-0 self-center" src="../../public/profileImage.jpeg" alt="">
    </div>
</section>