<section class="hero flex p-0 text-white h-screen align-center items-center justify-center m-8">
    <div class="flex flex-col self-start pt-[10rem] ">
        <h1 class="text-8xl">Jhoan Landazabal</h1>
        <p class="text-4xl">A young developer</p>
    </div>

    <div class="h-[500px] w-[500px]">
        
    </div>
</section>